<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                All Inventory
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'inventoryitems' %}" class="dropdown-item">All Inventory</a>
                <a href="{% url 'inventoryitems' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'inventoryitems' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'inventoryitems' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'inventoryitems' %}?sort=franchise&direction=" class="dropdown-item ">By Franchise</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="category-link" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="{% url 'inventoryitems' %}?category=Post-Apocalyptic" class="dropdown-item">Post-Apocalyptic</a>
                <a href="{% url 'inventoryitems' %}?category=Fantasy" class="dropdown-item">Fantasy</a>
                <a href="{% url 'inventoryitems' %}?category=Science-Fiction" class="dropdown-item">Science-Fiction</a>
                <a href="{% url 'inventoryitems' %}?category=Science-Fiction,Fantasy,Modern-Day,Post-Apocalyptic" class="dropdown-item">All Categories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="franchise-link" aria-haspopup="true" aria-expanded="false">
                Franchise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="franchise-link">
                <a href="{% url 'inventoryitems' %}?franchise=Fallout" class="dropdown-item">Fallout</a>
                <a href="{% url 'inventoryitems' %}?franchise=Half Life" class="dropdown-item">Half Life</a>
                <a href="{% url 'inventoryitems' %}?franchise=Halo" class="dropdown-item">Halo</a>
                <a href="{% url 'inventoryitems' %}?franchise=Left for Dead 2" class="dropdown-item">Left for Dead 2</a>
                <a href="{% url 'inventoryitems' %}?franchise=Mass Effect" class="dropdown-item">Mass Effect</a>
                <a href="{% url 'inventoryitems' %}?franchise=Sanctum 2" class="dropdown-item">Sanctum 2</a>
                <a href="{% url 'inventoryitems' %}?franchise=World of Warcraft" class="dropdown-item">World of Warcraft</a>
                <a href="{% url 'inventoryitems' %}?franchise=World of Warcraft,Sanctum 2,Mass Effect,Left for Dead 2,Helldivers 2,Halo,Half Life,Fallout" class="dropdown-item">All Franchises</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Latest
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'inventoryitems' %}?category=New Arrival" class="dropdown-item">New Arrivals</a>
            </div>
        </li>
    </ul>
</div>

<!-- Custom JS to prevent click to open dropdown -->
<script>
    $(document).ready(function(){
        $('.nav-item.dropdown').hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
        });

        $('.nav-item.dropdown > a').click(function(event) {
            event.preventDefault();
            event.stopPropagation();
        });
    });
</script>